─────────────────────────────────────────────

DJANGO CORE SETTINGS

─────────────────────────────────────────────

DJANGO_SECRET_KEY=ja=@%m+j==%g6)gmokdsc*svo_mb9s4cm(2kd*tw9cp6mci^-)
DEBUG=False
ALLOWED_HOSTS=littlestepswebapp.onrender.com,localhost,127.0.0.1

─────────────────────────────────────────────

DATABASE (Render provides DATABASE_URL)

─────────────────────────────────────────────

DATABASE_URL=postgresql://littlesteps_db_user:YOrJpRwRMLoj13S2ZGT2fzYuoMJiZB9P@dpg-d79qk8lm5p6s73a8f7h0-a/littlesteps_db

─────────────────────────────────────────────

CLOUDINARY (REQUIRED FOR MEDIA FILES)

─────────────────────────────────────────────

CLOUDINARY_CLOUD_NAME=dxhj1i8re
CLOUDINARY_API_KEY=577498589684242
CLOUDINARY_API_SECRET=GEHQ1wrFqiVoZE-qtoLv0wVz2ms
────────────────────────────

OPTIONAL SETTINGS

─────────────────────────────────────────────

If using custom email later

EMAIL_HOST=smtp.gmail.com

EMAIL_PORT=587

EMAIL_HOST_USER=rehamanofficial07@gmail.com

EMAIL_HOST_PASSWORD=@Rehaman777

EMAIL_USE_TLS=True